* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* navbar*/
nav {
  background: linear-gradient(to right, #1c352d, #a6b28b);
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}
nav h4 {
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

/* nav active */
nav ul li a.active {
  color: #f5c9b0;
  border-radius: 4px;
  font-weight: 600;
  border-bottom: 2px solid #f5c9b0;
}

/* main */
main {
  color: #1c352d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* footer  */
footer {
  background: linear-gradient(to right, #1c352d, #a6b28b);
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  padding: 15px;
}
